In [1]:
import pandas as pd
import numpy as np

PATH_TO_DATASET = '../../Datasets/1976-2016 US Federal Elections/'

### Initializing the Data Structure
Let's limit the results strictly to races from 2012 and on and not concern ourselves with candidates who recieved less than 1% of the total vote count. We also don't need all the information from the data set, so let's keep the most relevant: state, year, candidate, party, number of votes for that candidate, and the total vote count for the race.

In [2]:
def init_df(path_to_csv):
    COLUMNS_TO_KEEP = ['state', 'year', 'candidate', 'party', 'candidatevotes',
                       'totalvotes', 'special', 'writein', 'office']
    df = pd.read_csv(path_to_csv)
    df = (df[(df['year'] >= 2012) & (df['candidatevotes'] > df['totalvotes'] * .01)]
            .filter(COLUMNS_TO_KEEP)
            .set_index(['state', 'year', 'candidate']))
    df['office'] = df['office'].str.slice(3)
    return df

##### Senate

In [8]:
senate = init_df(PATH_TO_DATASET + 'senate.csv')
print(senate.loc['Idaho'].sort_values(by='year'))

                            party  candidatevotes  totalvotes  special  \
year candidate
2014 Nels Mitchell       democrat          151574      437170    False
     James E. Risch    republican          285596      437170    False
2016 Ray J. Writz    constitution           41677      678943    False
     Mike Crapo        republican          449017      678943    False
     Jerry Sturgill      democrat          188249      678943    False

                     writein  office
year candidate
2014 Nels Mitchell     False  Senate
     James E. Risch    False  Senate
2016 Ray J. Writz      False  Senate
     Mike Crapo        False  Senate
     Jerry Sturgill    False  Senate

##### House

In [4]:
house = init_df(PATH_TO_DATASET + 'house.csv')
house.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>party</th>
      <th>candidatevotes</th>
      <th>totalvotes</th>
      <th>special</th>
      <th>writein</th>
      <th>office</th>
    </tr>
    <tr>
      <th>state</th>
      <th>year</th>
      <th>candidate</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">Alaska</th>
      <th rowspan="2" valign="top">2016</th>
      <th>Bernie Souphanavong</th>
      <td>none</td>
      <td>9093</td>
      <td>308198</td>
      <td>False</td>
      <td>False</td>
      <td>House</td>
    </tr>
    <tr>
      <th>Don Young</th>
      <td>republican</td>
      <td>155088</td>
      <td>308198</td>
      <td>False</td>
      <td>False</td>
      <td>House</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2012</th>
      <th>Jim C. McDermott</th>
      <td>libertarian</td>
      <td>15028</td>
      <td>289804</td>
      <td>False</td>
      <td>False</td>
      <td>House</td>
    </tr>
    <tr>
      <th>Don Young</th>
      <td>republican</td>
      <td>185296</td>
      <td>289804</td>
      <td>False</td>
      <td>False</td>
      <td>House</td>
    </tr>
    <tr>
      <th>Ted Gianoutsos</th>
      <td>nominated by petition</td>
      <td>5589</td>
      <td>289804</td>
      <td>False</td>
      <td>False</td>
      <td>House</td>
    </tr>
  </tbody>
</table>
</div>

##### President

In [5]:
pres = init_df(PATH_TO_DATASET + 'president.csv')
pres.loc['Idaho'].sort_values(by='year')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>party</th>
      <th>candidatevotes</th>
      <th>totalvotes</th>
      <th>writein</th>
      <th>office</th>
    </tr>
    <tr>
      <th>year</th>
      <th>candidate</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="4" valign="top">2012</th>
      <th>Romney, Mitt</th>
      <td>republican</td>
      <td>420911</td>
      <td>652274</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th>Obama, Barack H.</th>
      <td>democrat</td>
      <td>212787</td>
      <td>652274</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th>Johnson, Gary</th>
      <td>libertarian</td>
      <td>9453</td>
      <td>652274</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>independent</td>
      <td>6901</td>
      <td>652274</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">2016</th>
      <th>Trump, Donald J.</th>
      <td>republican</td>
      <td>409055</td>
      <td>690255</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th>Clinton, Hillary</th>
      <td>democrat</td>
      <td>189765</td>
      <td>690255</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th>McMullin, Evan</th>
      <td>independent</td>
      <td>60748</td>
      <td>690255</td>
      <td>False</td>
      <td>President</td>
    </tr>
    <tr>
      <th>Johnson, Gary</th>
      <td>libertarian</td>
      <td>28331</td>
      <td>690255</td>
      <td>False</td>
      <td>President</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
fed = pd.concat([senate, house, pres], sort=False)
fed.loc[fed['party'] == 'democrat'].loc['Idaho'].loc[2016, ['candidatevotes', 'office']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>candidatevotes</th>
      <th>office</th>
    </tr>
    <tr>
      <th>candidate</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Jerry Sturgill</th>
      <td>188249</td>
      <td>Senate</td>
    </tr>
    <tr>
      <th>James Piotrowski</th>
      <td>113052</td>
      <td>House</td>
    </tr>
    <tr>
      <th>Jennifer Martinez</th>
      <td>95940</td>
      <td>House</td>
    </tr>
    <tr>
      <th>Clinton, Hillary</th>
      <td>189765</td>
      <td>President</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
ind = fed[~fed['party'].isin(['democrat', 'republican'])]